#calcu {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#result {
  background-color: #858694;
  color: white;
  border: none;
  margin-top: 0;
  width: 99%;
  height: 40px;
  text-align: right;
}

td {
  padding: 0;
  margin: 0;
}

.calc-button {
  width: 6rem;
  height: 3rem;
  background-color: #e0e0e0;
  border-color: lightgray;
}

.zero-btn {
  width: 18.2rem;
  height: 3rem;
  background-color: #e0e0e0;
  border-color: lightgray;
}

.calc-orange-button {
  width: 4rem;
  height: 3rem;
  background-color: #f5913e;
  border-color: lightgray;
}
