#calcu {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: lightgray;
  border-radius: 0.5rem;
}

#result {
  background-color: #858694;
  color: white;
  max-width: 100%;
  border-radius: 0.5rem;
}

p {
  text-align: right;
  padding-right: 1rem;
}

td {
  padding: 0;
  margin: 0;
}

.calc-button {
  width: 6rem;
  height: 3rem;
  background-color: #e0e0e0;
  border-color: lightgray;
  border-radius: 0.5rem;
}

.zero-btn {
  width: 18.2rem;
  height: 3rem;
  background-color: #e0e0e0;
  border-color: lightgray;
  border-radius: 0.5rem;
}

.calc-orange-button {
  width: 4rem;
  height: 3rem;
  background-color: #f5913e;
  border-color: lightgray;
  border-radius: 0.5rem;
}
